<header class="shared_header">
  <div class="nav-container header">
    <% case true %>
    <% when current_page?(authenticated_root_path) %>
      <nav id="mobile-nav-toggle">
  <img src="/assets/menu.png" alt="Menu">
</nav>
      <p>CATEGORY</p>
    <% when current_page?(new_user_category_path) %>
     <%= link_to authenticated_root_path do %>
  <img src="/assets/leftarrow.png" alt="Left Arrow">
<% end %>
      <p>NEW CATEGORY</p>
    <% when current_page?(new_user_entity_path) %>
      <%= link_to authenticated_root_path do %>
  <img src="/assets/leftarrow.png" alt="Left Arrow">
<% end %>
      <p>NEW TRANSACTION</p>
      <% else %>
     <%= link_to authenticated_root_path do %>
  <img src="/assets/leftarrow.png" alt="Left Arrow">
<% end %>
    <% end %>
 
  </div>
</header>